:root,
:root::before,
:root::after {
   --gameboard-border: 2px solid black;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: Arial, sans-serif;
   background-color: #f8f9fa;
}

header {
   background-color: #343a40;
   padding: 20px;
   color: #ffffff;
   margin-bottom: 20px;
}

h1 {
   font-size: 36px;
   text-align: center;
}

.status-container {
   font-size: 18px;
   text-align: center;
   color: #555555;
   margin-bottom: 20px;
}

form {
   text-align: center;
}

.input-group {
   display: inline-block;
   margin: 0 10px 20px 10px;
}

.input-group input {
   padding: 10px;
   border: 1px solid #ced4da;
   border-radius: 5px;
   font-size: 16px;
   width: 200px;
   transition: border-color 0.2s;
}

.input-group input:focus {
   border-color: #007bff;
}

#start-button {
   display: block;
   margin: 0 auto 20px auto;
   padding: 10px 20px;
   border: none;
   background-color: #007bff;
   color: #fff;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.2s;
}

#start-button:hover {
   background-color: #0056b3;
}

.gameboard {
   display: grid;
   grid-template: repeat(3, 1fr) / repeat(3, 1fr);
   place-items: center;
   gap: 4px;

   width: 80%;
   max-width: 400px;
   aspect-ratio: 1 / 1;

   margin: 0 auto;

   border: 2px solid #343a40;
   padding: 10px;
   border-radius: 10px;
}

.cell {
   width: 100%;
   height: 100%;
   font-size: 2em;
   display: flex;
   align-items: center;
   justify-content: center;
}

.cell:hover {
   background-color: #e4e4e4;
}

.cell {
   transition: background-color 0.2s;
}

.bd-r {
   border-right: var(--gameboard-border);
}

.bd-l {
   border-left: var(--gameboard-border);
}

.bd-t {
   border-top: var(--gameboard-border);
}

.bd-b {
   border-bottom: var(--gameboard-border);
}

@keyframes flash {0%,
   50%,
   100% {
      background-color: transparent;
   }

   25%,
   75% {
      background-color: rgb(214, 0, 0);
   }
}

.flash {
   animation: flash 1s infinite;
}